* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family:dragon;
  src: url("tipografias/FunSized.ttf");
}

body {
  background-color: black;
  background-image: url("DragonBall/shenglong.jpg");
  background-position: top;
}

header {
  text-align: center;
}

header img {
  width: 500px;
  margin-bottom: 0px;
}

.titulo {
  text-align: center;
  font-family: dragon;
  background-color: rgba(226, 139, 9, 0.67);
  border-radius: 50px;
  color: white;
  width: 70%;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

.game-mode {
  display: flex;
  justify-content: space-around;
}

.un-jugador img {
  width: 250px;
  height: 250px;
}

.un-jugador:hover {
  transform: scale(1.3);
}

.dos-jugadores img {
  width: 250px;
  height: 250px;
}

.dos-jugadores:hover {
  transform: scale(1.3);
}

.game-mode button {
  margin-top: 10px;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 7px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: arial;
  background: #256EFF;
  color: white;
  font-weight: bold;
  border-color:
  transition: 2s;
}

.game-mode button:hover {
  cursor: pointer;
  background: lightblue;
  color: white;
}


/*    ELECCION DE PERSONAJES   */

.personajes {
  text-align: center;
  font-family: dragon;
  background-color: rgba(226, 139, 9, 0.67);
  border-radius: 50px;
  color: white;
  width: 70%;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

.zona-eleccion {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
  }

.zona-eleccion img {
  width: 200px;
  height: 300px;
}

.personaje1:hover {
  transform: scale(1.3);
}

.personaje2:hover {
  transform: scale(1.3);
}

.personaje3:hover {
  transform: scale(1.3);
}

.zona-eleccion button {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 7px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: arial;
  background: #256EFF;
  color: white;
  font-weight: bold;
  border-color: ;
  transition: 2s;
}

.zona-eleccion button:hover {
  cursor: pointer;
  background: lightblue;
  color: white;
}
